<nav class="navbar navbar-expand-lg navbar-dark" style="height:50PX; background-color:black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/icon.jpg" style="max-height:60%;max-width:3%;position:absolute;left:0.1%"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link active" href="#" style="color:white;">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/login" style="color:white;" > Login</a></li>
        <li class="dropdown">
          <a class="nav-item" data-toggle="dropdown" href="#" style="color:white;">About us</a>
          <ul class="dropdown-menu">
            <li><a class="nav-item" routerLink="/about">What is Handloom</a></li>
            <li><a class="nav-item" routerLink="/about2">Mangalgiri Sarees</a></li>
            <li><a class="nav-item" routerLink="/about3">Pochampali Sarees</a></li>
            <li><a class="nav-item" routerLink="/about4">Sambalpuri Sarees</a></li>
            <li><a class="nav-item" routerLink="/about5">Benarasi Sarees</a></li>
            <li><a class="nav-item" routerLink="/about6">Kashmiri Sarees</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/showproducts" > Show Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/video" > Video</a></li>

          </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search" spellcheck="false" data-ms-editor="true">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
