<footer style="height:fit-content;width:100%; background-color:rgb(41, 40, 40);color:rgb(169, 174, 179);position:fixed;bottom:0">
    <h3> Fabric Delights</h3>
     <h4>Banjara Hills<br>
      Hyderabad<br>
      Pincode:500034<br>
      Contact No:6303693467</h4>
  </footer>