<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/icon.jpg" style="max-height:7%;max-width:3%;position:fixed;left:0.1%"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/showproducts" > Show Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Cart" >Cart({{cartItems.length}})</a></li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/logout" > Logout </a></li>
</ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search" spellcheck="false" data-ms-editor="true">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1 align="center" style="background-color:rgb(62, 112, 144); color: aliceblue;"> Welcome to Handloom website</h1>