<body style="background-color:antiquewhite;height:1000px">
  <div style="position:fixed;left:40%; color:red;height:100px"><h1>What is Handloom</h1></div>
  <div style="width:1200px;height:500px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEvZma5Qqjniq1bmwTI5m4tkogNusdChwAnd-gxdA_0w&s" style="position:fixed;left:30%;top:20%;height:400px">
  </div>
  <div style="position:fixed;top:70%;font-size:17px;margin-left:30%;margin-right:30%">
  <p>
    The rise of sustainable fashion has created a huge appetite for handmade and hand-loomed items. There’s something extra special about handmade pieces; the level of artistry achieved is unique, and you know the person who made it put genuine thought, love and passion into it.
  No wonder handloom fabrics are all the rage now! They truly deserve the limelight and your appreciation grows once you understand how they are made.
  So what are handloom fabrics? How are they made? And what are their advantages and disadvantages?
  Whether you already are a handloom lover or just handloom curious, we have the answers! We’re taking it back to basics by shedding some light on the history, use and benefits of handloom fabrics.
  </p>
  </div>
  </body>