<body style="background:url('assets/images/image79.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0)">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/COxJUmf1udI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="position:absolute;left:20%;top:30%;width:60%"></iframe>
    </body>