<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body
  style="background-image:url(assets/images/image33.jpg);background-size: cover;background-repeat: no-repeat;background-attachment: fixed;height:800px;min-height:1000px;width:2100px">
  <div class="container" style="background-color: rgb(50, 49, 49);width:350px;position:fixed;top:30%;left:40%">
    <div style="width: 300px;">
      <h1 style="color: aliceblue;">Login Form</h1>

      <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel" required minlength="2"
            maxlength="40" />
        </div><br />

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password" name="password" ngModel #password="ngModel" required minlength="2"
            maxlength="100" />
        </div><br />
        <p style="color: aliceblue;"> New User? &nbsp;<a routerLink="/register"><b>Register here</b></a></p><br>
        <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem [siteKey]=sitekey formControlName="recaptcha">
          </ngx-recaptcha2>
        </form>

        <button [disabled]="!loginForm.valid" class="btn btn-dark"> Login </button> <br />

        <div class="container">

          <div *ngIf="emailId.errors?.['required'] && emailId.touched">
            <h3 style="color: red;"> Please Enter EmailId </h3>
          </div>
          <!-- <div *ngIf="emailId.errors?.['required'] && emailId.touched"> <div *ngIf="toastr.ShowError"></div> -->
          <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
            <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3>
          </div>

          <div *ngIf="password.errors?.['required'] && password.touched">
            <h3 style="color: red;"> Please Enter Password </h3>
          </div>
          <div *ngIf="password.errors?.['minlength'] && password.touched">
            <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3>
          </div>

        </div>

      </form>

    </div>
    Login using google:<asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
  </div>
</body>

</html>
