<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  </head>
  <body style="background:url('assets/images/image70.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0)">
  <div *ngIf="!showHead">
    <app-user></app-user>
  </div>
  <div class="container">
  
    <h1 style="color: aliceblue;"align="center"> Add product </h1> <br/>
  
    <form #regForm="ngForm" (ngSubmit)="registerProduct(regForm.value)">
        <table align="center">
            <tr>
                <td align="right"> <h4 style="background-color: black;color: aliceblue;">Product ID: </h4></td>
                <td align="left"> <input type="text" name="productId" ngModel /> </td>
            </tr>
  
            <tr>
                <td align="right"> <h4 style="background-color: black;color: aliceblue;">Product Name: </h4> </td>
                <td align="left"> <input type="text" name="productName" ngModel /> </td>
            </tr>
  
            <tr>
                <td align="right"> <h4 style="background-color: black;color: aliceblue;">Price: </h4> </td>
                <td align="left"> <input type="text" name="price" ngModel /> </td>
            </tr>
           <tr>
           <td align="right"><h4 style="background-color: black;color: aliceblue;">Image: </h4></td>
          <td align="left">
            <input
      type="file"
      id="img"
      style="display:none"
      accept="image/*"
      (change)="onSelect($event)"
    />
    <label for="img">Upload Image</label></td>
           </tr>
  
            <tr>
                <td align="right"> <h4 style="background-color: black;color: aliceblue;">Description: </h4> </td>
                <td align="left"> <input type="text" name="description" ngModel /> </td>
            </tr>
  
            <tr>
                <td align="right"> </td>
                <td align="left"> <button class="btn btn-dark"> Add </button> </td>
            </tr>
  
        </table>
    </form>
  
  
  </div>
</body>