<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  </head>
  <body style="background:url('assets/images/image26.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0)">
  <div *ngIf="!showHead">
    <app-user2></app-user2>
  </div>
  <h1 align="center"> Shopping Cart </h1>
  
  <div class="container" *ngIf="cartItems" >
      <table class="table table-bordered table-sm table-hover table-striped text-center" id="content">
          <thead>
              <tr class="bg-dark text-white">
                  <th> Product Image </th>
                  <th> Product Id </th>
                  <th> Name </th>
                  <th> Price </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of cartItems">
                  <td> <img src="{{product.imagePath}}" height="100px" width="100px"/> </td>
                  <td> {{product.productId}} </td>
                  <td> {{product.productName}} </td>
                  <td> {{product.price}} </td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td align="right"><h1>Total</h1></td>
                  <td>{{total}}</td>
  
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Payment</td>
              <td><button (click)="payment()" class="btn btn-success">Payment</button></td>
            </tr>
          </tbody>
      </table>
  
  
  
  </div>
  </body>