<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<app-user></app-user>

<h1 align="center" style="background-color: black; color: aliceblue;"> Customer Data </h1>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="editEmployee" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> Edit Customer </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <table align="center" class="table">
              <tbody>
              <tr>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" type="text" name="customerId" [(ngModel)]="editEmp.customerId" readonly />
                  </div>
              </tr>
              <tr>
                  <input type="text" name="customerName" [(ngModel)]="editEmp.customerName" />
              </tr><br/>

              <tr>
                  <input type="Date" name="dob"  [(ngModel)]="editEmp.dob" />
              </tr><br/>
              <tr>
                <input type="text" name="address" [(ngModel)]="editEmp.address" />
            </tr><br/>
            <tr>
              <input type="text" name="city" [(ngModel)]="editEmp.city" />
          </tr><br/>
              <tr>
                  <select name="country" [(ngModel)]="editEmp.country">
                      <option value=""> Select Country </option>

                      <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                  </select>

              </tr><br/>
              <tr>
                  <input type="text" name="emailId" [(ngModel)]="editEmp.emailId" readonly />
              </tr><br/>
              <tr>
                  <input type="password" name="password" [(ngModel)]="editEmp.password" readonly />
              </tr><br/>
              <tr>
                <input type="text" name="status" [(ngModel)]="editEmp.status" />
            </tr><br/>
          </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateEmp()" class="btn btn-default" data-dismiss="modal">Update</button> &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<body style="background:url('assets/images/image78.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0)">

<div class="table table-bordered table-sm table-hover table-striped text-center">

    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <tr class="bg-dark text-white">
            <th> Customer Id    </th>
            <th> Customer Name    </th>
            <th> Date of Birth  </th>
            <th> Address   </th>
            <th> City     </th>
            <th> Country  </th>
            <th> Phone</th>
            <th> EmailId  </th>
            <th> Status</th>
            <th colspan="2"> Actions </th>
        </tr>

        <tr *ngFor="let emp of customers" style="background-color:rgb(152, 148, 148);">

            <td> {{emp.customerId}}                 </td>
            <td> {{emp.customerName | uppercase }}  </td>
            <td> {{emp.dob | date:'dd-MMM-yyyy'}}                 </td>
            <td> {{emp.address  | lowercase }}   </td>
            <td> {{emp.city      }}      </td>
            <td> {{emp.country}}  </td>
            <td> {{emp.phonenumber}}  </td>
            <td> {{emp.emailId}}  </td>
            <td> {{emp.status}}</td>
            <td> <button (click)="editEmployee(emp)" class="glyphicon glyphicon-pencil"></button> </td>
            <td> <button (click)="UpdateStatus(emp)" class="glyphicon glyphicon-trash"></button> </td>
        </tr>
    </table>

</div>
</body>
</html>