<app-header *ngIf="showHead&&!hrstatus" ></app-header>
<script>
if(showHead==true && hrstatus==false)
<app-header></app-header>
else if(showHead==false && hrstatus==true)
<app-user></app-user>
else
<app-user2></app-user2>
</script>
<router-outlet></router-outlet>