<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<div *ngIf="!showHead&&hrstatus">
  <app-user></app-user>
</div>
<div *ngIf="!showHead&&!hrstatus">
  <app-user2></app-user2>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="editEmployee" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> Edit Customer </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

       
        <div class="modal-body">
          <table align="center" class="table">
              <tbody>
              <tr>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" type="text" name="productId" [(ngModel)]="editEmp.productId" readonly />
                  </div>
              </tr>
              <tr>
                  <input type="text" name="productName" [(ngModel)]="editEmp.productName" />
              </tr><br/>

              <tr>
                <input type="text" name="price" [(ngModel)]="editEmp.price" />
            </tr><br/>
            <tr>
              <input type="text" name="imagePath" [(ngModel)]="editEmp.imagePath" />
          </tr><br/>
              <tr>
                  <input type="text" name="description" [(ngModel)]="editEmp.description"/>
              </tr><br/>


          </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateEmp()" class="btn btn-default" data-dismiss="modal">Update</button> &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>




<body style="background:url('assets/images/image80.jpg');background-size:cover;width:100vw;height:500vh;filter:blur(0)">
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
       <div class="card" style="width:300px; height: 475px;">
        <img class="card-img-top" src={{product.imagePath}} alt="10001.jpg" style="width:60%; height:100%;">
        <div class="card-body">
          <h4 class="card-title"> {{product.productName}} </h4>
          <p class="card-text"> {{product.description}} </p>
          <h6>Price: ₹{{product.price}}/-</h6>
          <p align="right">
          <button *ngIf="!showHead&&hrstatus" class="btn btn-dark" (click)="editEmployee(product)">Edit</button>&nbsp;&nbsp;
          <button *ngIf="!showHead&&hrstatus" class="btn btn-dark" (click)="deleteEmployee(product)">Delete</button>&nbsp;&nbsp;
          <button *ngIf="!hrstatus" class="btn btn-dark" (click)="addToCart(product)">Add to Cart</button>
          </p>
        </div>
      </div> &nbsp;&nbsp;

    </div>
  </div>
  </div>
</body>