<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="height:fit-content;width:100%">
    <div class="item active">
      <img src="assets/images/gif30.gif" alt="Los Angeles" style="height:fit-content;width:100%">
      <div class="carousel-caption">
        <h3>Handlooms</h3>
        <p>A hope for sustainability</p>
      </div>
    </div>

    <div class="item">
      <img src="assets/images/gif26.gif" alt="Chicago" style="height:fit-content;width:100%">
      <div class="carousel-caption">
        <p style="font-size:larger">A vision for independence</p>
      </div>
    </div>

    <div class="item">
      <img src="assets/images/gif29.gif" alt="New York" style="height:fit-content;width:100%">
      <div class="carousel-caption">
        <p style="font-size:larger">A chance for innovation</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<app-footer></app-footer>