<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  </head>
  <div *ngIf="!showHead">
    <app-user></app-user>
    
  </div>
  <body style="background:url('assets/images/image78.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0)">
  <h1 align="center" style="color: aliceblue;background-color: rgb(47, 46, 46);"> Get Customer ById </h1> <br />
  
  <div class="container" align="center">
      <form #empForm="ngForm" (ngSubmit)="getCustomer(empForm.value)">
          <table>
              <tr>
                  <td align="right"> <h4 style="color: aliceblue; background-color: rgb(36, 34, 34);">Enter EmployeeID:</h4> </td>
                  <td align="left"> <input type="number" name="empId" ngModel /> </td>
              </tr>
              <tr>
                  <td align="right"> </td>
                  <td align="left"> <button class="btn btn-dark"> Get Employee </button> </td>
              </tr>
          </table>
      </form>
  </div>
  <br />
  
  
  <div class="container" *ngIf="cust">
      <table class="table table-bordered table-sm table-hover table-striped text-center">
          <thead>
              <tr class="bg-dark text-white">
                  <th> CustId </th>
                  <th> Name </th>
                  <th> DOB </th>
                  <th> phonenumber</th>
                  <th> address </th>
                  <th> City</th>
                  <th> Country </th>
                  <th> EmailId </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td> {{cust.customerId}} </td>
                  <td> {{cust.customerName}} </td>
                  <td> {{cust.dob | date:'dd-MMM-yyyy'}} </td>
                  <td> {{cust.phonenumber}} </td>
                  <td> {{cust.address}} </td>
                  <td> {{cust.city}}</td>
                  <td> {{cust.country}} </td>
                  <td> {{cust.emailId}} </td>
              </tr>
          </tbody>
      </table>
  </div>
</body>


