<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background:url('assets/images/image35.jpg');background-size:cover;width:100vw;height:100vh;filter:blur(0);color:white">
<div class="container">

  <h1 align="center" style="font-weight: bold; color: rgb(251, 243, 243);"> Registration </h1> <br/>

  <form #regForm="ngForm" (ngSubmit)="register(regForm.value)" novalidate>
      <table align="center">
          <tr>
              <td align="right"><h4>Name: </h4></td>
              <td align="left"> <input type="text"class="form-control" name="customerName" ngModel #customerName="ngModel" required minlength="2" maxlength="40"/> </td>
          </tr>
          <tr></tr>
          <tr>
              <td align="right"><h4>DOD: </h4></td>
              <td align="left"> <input type="date" class="form-control" name="dob" ngModel> </td>
          </tr>
          <tr></tr>
          <tr>
            <td align="right"><h4>Address: </h4></td>
            <td align="left"> <input type="text" class="form-control" name="address" ngModel #address="ngModel"required minlength="2" maxlength="40"/> </td>

          </tr>
          <tr></tr>
          <tr>
              <td align="right"> <h4>City: </h4></td>
              <td align="left"> <input type="text" class="form-control" name="city" ngModel #city="ngModel" required minlength="2" maxlength="40" /> </td>
          </tr>
          <tr></tr>
          <tr>
            <td align="right"> <h4>Country: </h4> </td>
            <select name="country" ngModel class="form-control">
              <option value=""> Select Country </option>
              <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
            </select>
            </tr>
            <tr></tr>
          <tr>
              <td align="right"><h4>Email-Id: </h4> </td>
              <td align="left"> <input type="text" class="form-control" name="emailId" ngModel #emailId="ngModel"required minlength="2" maxlength="40"/> </td>
          </tr>
          <tr></tr>
          <tr>
              <td align="right"><h4>Password: </h4></td>
              <td align="left"> <input type="password" id="password" class="form-control" name="password" ngModel #password="ngModel"  required minlength="8" maxlength="40"/> </td>
            </tr>
          <tr></tr>
          <tr>
            <td align="right"><h4>Confirm Password: </h4></td>
            <td align="left"> <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" ngModel #confirmpassword="ngModel"  required minlength="8" maxlength="40"/> </td>
          </tr>
        <tr></tr>
          <tr>
            <td align="right"><h4>Phone Number: </h4></td>
            <td align="left"> <input type="text" class="form-control" name="phonenumber" ngModel #phonenumber="ngModel" required minlength="10" /> </td>
            <tr></tr>
          <tr>

          <tr>
              <td align="right"> </td>
              <td align="left"> <button [disabled]="!regForm.valid" class="btn btn-dark"> Register </button> </td>
          </tr>

      </table>
      <div class="container">

        <div *ngIf="customerName.errors?.['required'] && customerName.touched"> <h3 style="color: red;"> Please Enter CustomerName </h3></div>
        <div *ngIf="customerName.errors?.['minlength'] && customerName.touched"> <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3></div>
        <div *ngIf="city.errors?.['required'] && city.touched"> <h3 style="color: red;"> Please Enter city </h3></div>
        <div *ngIf="city.errors?.['minlength'] && city.touched"> <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3></div>

        <div *ngIf="address.errors?.['required'] && address.touched"> <h3 style="color: red;"> Please Enter address </h3></div>
        <div *ngIf="address.errors?.['minlength'] && address.touched"> <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3></div>
        <div *ngIf="phonenumber.errors?.['required'] && phonenumber.touched"> <h3 style="color: red;"> Please Enter phone number </h3></div>
        <div *ngIf="phonenumber.errors?.['minlength'] && phonenumber.touched && phonenumber.errors?.['maxlength']"> <h3 style="color: red;"> Please Enter 10 digits </h3></div>
        <div *ngIf="!checknumber(phonenumber.value)&& phonenumber.touched"><h3 style="color: red;">Incorrect Phone number try again</h3></div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched"> <h3 style="color: red;"> Please Enter EmailId </h3></div>
        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"> <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3></div>
        <div *ngIf="!checkemailId(emailId.value)&& emailId.touched"><h3 style="color: red;">Incorrect Email-ID try again</h3></div>
        <div *ngIf="password.errors?.['required'] && password.touched"> <h3 style="color: red;"> Please Enter Password </h3></div>
        <div *ngIf="password.errors?.['minlength'] && password.touched"> <h3 style="color: red;"> Please Enter Atleast 8 Characters </h3></div>
        <div *ngIf="!checkpassword(password.value)&& password.touched"><h3 style="color: red;">Incorrect Password</h3></div>
        <div *ngIf="!checkconfirmpassword(password.value,confirmpassword.value)&& password.touched&&confirmpassword.touched"><h3 style="color: red;"> Please match Password and Confirm Password</h3></div>
      </div>
  </form>
</div>
</body>